.header {
  position: sticky;
  top: 0;
}

body { 
  font-family: Arial, Helvetica, Tahoma, Verdana;
  background: #f0fff0; 
  color: green; 
  margin: 0; 
  padding: 0; 
}

p {
  margin: 2em;
}

li {
  display: flex;
}

.dest {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
    align-self: center;
}

.access {
  display: inline-block;
  vertical-align: top;
  padding: 5em;
}

.darkmode {
  background-color: black;
  color: rgb(137, 174, 63);
  nav {
    background: darkolivegreen;
  }

  h1, h2 {
    color: olivedrab;
  }
  a {
    color: white;
  }
  input, select, textarea {
    background-color: rgb(204, 200, 200);
    border-color: rgb(204, 200, 200);
  }
}

.formdisplay {
  display: inline-block;
  label {
    align-self: center;
    padding: 4px;
  }
}

.resnav {
  overflow: hidden;
  background-color: olivedrab;
}

.resnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 8px;
  text-decoration: none;
  font-size: 1em;
}

.resnav a:hover {
  background-color: #f0fff0;
  color: black;
}

.resnav a.active {
  background-color: #04AA6D;
  color: white;
}

.resnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .resnav a:not(:first-child) {display: none;}
  .resnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .resnav.responsive {position: relative;}
  .resnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .resnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

h1, h2 { 
  color: green; 
  padding-left: 1em; 
}

form { 
  padding: 1em; 
}

input, textarea, select { 
  display: block; 
  margin: 0.5em 0; 
  padding: 0.5em; 
}

ul { 
  padding: 1em; 
}

nav a {
  margin-right: 1em;
}

a {
  color: #012401;
}

form button {
  background-color: green;
  color: white;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  margin-top: 1em;
}

footer {
  bottom: 0px;
  padding: 1em;
}